<p>Hi <%= @user.first_name %>,</p>

<% if @number_of_expiring_connections > 0 %>
<p>There are <%= @number_of_expiring_connections %> connections you should probably follow up with, it's been a while since they've heard from you (and they're expiring soon)!</p>
<% else %>
<p>Here's some updates of your Sphere activities <%= @frequency %>:</p>
<% end %>
<p>So far, you've caught up with <%= @checkins %> friends and made <%= @plans %> plans <%= @frequency %>.<% if @number_of_expiring_connections == 0 %> There aren't any connections who are about to expire, hooray!<% end %> Keep building your social circle!</p>
<p>Help us make Sphere work better for you, reply directly to this email with your feedback. You can change the frequency of this notification email on your Sphere profile.</p>

<p>- Sphere Team</p>
<p><a href="https://app.usesphere.com">app.usesphere.com</a></p>