<%= number_field_tag :rows_to_add,10 %>
<button class="addRows" data-model-name="badge">Add Rows</button>
<button class="updateToServer" href="<%= update_badges_path %>" data-method="put" data-alert-element=".inputs#badge .alert">Update all selected changes</button><br>
<em>Available user statistics: <%= @available_user_statistics %></em>
<table>
    <thead>
        <th>Update? <%= check_box_tag :toggle_all_update, nil,nil, class:"toggleAll" %> </th>
        <th>Name</th>
        <th>Description</th>
        <th>Criteria</th>
        <th>Graphic</th>
        <th>Upload New Graphic</th>
        <th>Delete? <%= check_box_tag :toggle_all_delete, nil,nil, class:"toggleAll" %> </th>
    </thead>
    <tbody>
        <% @badges.each do |badge| %>
           <tr class="update-instance" data-instance-id=<%= badge.id %>>
               <td><%= check_box_tag :update,nil,nil,class:"updateCheck" %> <%= hidden_field_tag :id,badge.id, class:"updateInput" %></td>
               <td><%= text_field_tag :name, badge.name,class:"updateInput" %></td>
               <td><%= text_field_tag :description, badge.description,class:"updateInput" %></td>
               <td><%= text_field_tag :criteria, badge.criteria,class:"updateInput" %></td>
               <td><%= image_tag badge.graphic_url, height:"25", alt:"No Graphic Yet" %></td>
               <td><%= file_field_tag :graphic, accept: "image/*", class:"updateInput" %></td>
               <td><%= check_box_tag :delete,nil,nil,class:"deleteCheck" %></td>
           </tr> 
        <% end %>
    </tbody>
</table>
