<%= link_to 'Back', admin_dashboard_path %>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <th>Timestamp</th>
        <th>Action</th>
        <th>Additional Info</th>
    </thead>
    <tbody>
        <% @combined_app_usages.each do |usage| %>
            <tr>
                <td>
                    <%= usage[:timestamp] %>
                </td>
                <td>
                    <%= usage[:usage] %>
                </td>
                <td>
                    <%= usage[:additional_info] %>
                </td>
            </tr>
        <% end %>        
    </tbody>
</table>
<%= link_to 'Back', admin_dashboard_path %>