<table>
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Add Activity</th>
    </thead>
    <tbody>
        <% @connections.each do |connection| %>
            <tr>
                <td><%= connection.first_name %></td>
                <td><%= connection.last_name %></td>
                <td><%= link_to 'Add', new_activity_path(connection) %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'Create Connection', new_connection_path %>
<%= link_to 'Logout', logout_path %>