<script>
$(function(){
    vex.defaultOptions.className = 'vex-theme-default';
    vex.dialog.buttons.YES.text = 'RESET'
    vex.dialog.buttons.NO.text = 'CANCEL'
    <% if flash[:alert] %>
        var alert = "<%= flash[:alert] %>";
        toastr.error(alert, {timeOut: 5000,closeButton:true});
    <% elsif flash[:notice] %>
        var notice = "<%= flash[:notice] %>";
        toastr.warning(notice,{timeOut: 5000,closeButton:true});
    <% elsif flash[:success] %>
        var message = "<%= flash[:success] %>";
        toastr.success(message, {timeOut: 5000,closeButton:true});
    <% end %>

    <% if flash[:display] %>
        <% if flash[:display] == "login" %>
            transition($(".loginScreen #signup"),$(".loginScreen #login"));
        <% elsif flash[:display] == "signup" %>
            transition($(".loginScreen #login"),$(".loginScreen #signup"));
        <% end %>
    <% end %>

    $('.googleLoginButton').off("click").on("click",function(){
            event.preventDefault();
            event.stopPropagation()
            var signUpCode = $('#signup #sign_up_code').val();
            var todo = $(this).data('to-do');
            var win = window.open($(this).attr('href')+"?state="+signUpCode+"&todo="+todo,"_blank","width=500,height=600");
            var checkConnect = setInterval(function() {
                    if (!win || !win.closed) return;
                    clearInterval(checkConnect);
                    window.location.replace("<%= root_path %>");
                }, 100);    
    });

    $('.transitionButton').off('click').on('click',function(){
        transition($($(this).data('current')),$($(this).data('target')));
        if($(this).data('height-adjust-element') != undefined) {
            $($(this).data('height-adjust-element')).animate({height:$(this).data('height-adjust-value')});        
        }
    });
    $('#forgotPassword').off("click").on("click",function(){
        event.preventDefault();
        vex.dialog.prompt({
            message:"Reset your password:",
            placeholder:"Email",
            callback: function (value) {
                if (value) {
                    'use strict';
                    var form;
                    form = $('<form />', {
                        action: "<%= password_resets_path %>",
                        method: "POST",
                        style: 'display: none;'
                    });

                    $('<input />', {
                        type: 'hidden',
                        name: "email",
                        value: value
                    }).appendTo(form);

                    $('<input />', {
                        type: 'hidden',
                        name: "authenticity_token",
                        value: '<%= form_authenticity_token %>'
                    }).appendTo(form);

                    form.appendTo('body').submit();
                }
            }
        })        
    });
})
</script>
<div class="fullViewportContainer loginScreen">
    <div id="title">
        <%= image_tag "logo-white.png", width:"230" %>
    </div>
    <div id="displayBox">
        <div class="p-h-xxlg p-v-xxlg" id="login">
            <%= form_tag user_sessions_path, method: 'POST' do %>
                <div>
                    <div class="formElement button textDarkGray tallerInput googleLoginButton" href=<%= "#{Rails.env.production? ? ENV['PRODUCTION_HOST_DOMAIN']+'auth/google_login' : 'http://localhost:3000/auth/google_login'}" %> data-to-do="login">
                        <%= image_tag 'google-logo-small.png', width: 20 %>
                        <span class="m-l-xxxxxlg">
                            Login with Google
                        </span>
                    </div>
                    <h2 style="width:100%;text-align:center;border-bottom:1px solid #E0E0E0;line-height:0.34em;margin:10px 0 20px;"><span style="font-size:14px;color:#787878;background-color:#f0f0f0;padding:0 19px;background:#FFF;">Or with email</span></h2>
                    <%= text_field_tag :email, nil, placeholder:"Email", class:"textDarkGray formElement m-b-md tallerInput", value:flash[:email_login] %>
                    <%= password_field_tag :password, nil,  placeholder:"Password", class:"textDarkGray formElement m-b-md tallerInput" %>
                </div>
                <span style="font-size:12px;text-align:center; display:block; width:100%;">
                    <a class="transitionButton" data-current=".loginScreen #login" data-target=".loginScreen #signup" >Sign Up</a><br>
                    <a id="forgotPassword" style="cursor:pointer;">Forgot Password?</a>
                </span>
                <div class="modalButtonContainer">
                    <%= submit_tag 'LOGIN', class:"modalBottomFullButton sphereBlueBackground hoverable" %> 
                </div>
            <% end %>
        </div>
        <div class="p-h-xxlg p-v-xxlg hidden" id="signup">
            <%= form_tag create_user_path, method: 'POST' do %>
                <div>
                    <% if @invite_required %>
                        <%= text_field_tag :sign_up_code, nil, placeholder:"Invite Code", class:"textDarkGray formElement m-b-xs tallerInput", value:flash[:sign_up_code] %>
                    <% end %>
                    <div class="formElement button textDarkGray tallerInput googleLoginButton" href=<%= "#{Rails.env.production? ? ENV['PRODUCTION_HOST_DOMAIN']+'auth/google_login' : 'http://localhost:3000/auth/google_login'}" %>  data-to-do="signup">
                        <%= image_tag 'google-logo-small', width: 20 %>
                        <span class="m-l-xxxxxlg">
                            Signup with Google
                        </span>
                    </div>
                    <h2 style="width:100%;text-align:center;border-bottom:1px solid #E0E0E0;line-height:0.34em;margin:10px 0 20px;"><span style="font-size:14px;color:#787878;background-color:#f0f0f0;padding:0 19px;background:#FFF;">Or create account</span></h2>

                    <%= text_field_tag :email, nil, placeholder:"Email", class:"textDarkGray formElement m-b-xs tallerInput", value:flash[:email_signup] %>
                    <%= text_field_tag :first_name, nil, placeholder:"First Name", class:"textDarkGray formElement halfRow left m-b-xs tallerInput", value:flash[:first_name] %>
                    <%= text_field_tag :last_name, nil, placeholder:"Last Name", class:"textDarkGray formElement halfRow right m-b-xs tallerInput", value:flash[:last_name] %>
                    <%= password_field_tag :password, nil,  placeholder:"Password", class:"textDarkGray formElement m-b-xs tallerInput" %>
                    <%= password_field_tag :password_confirmation, nil,  placeholder:"Retype Password", class:"textDarkGray formElement m-b-xs tallerInput" %>
                </div>
                <span style="margin-bottom: 30px; font-size:12px;text-align:center; display:block; width:100%;">
                    <a class="transitionButton" data-current=".loginScreen #signup" data-target=".loginScreen #login" >Back To Login</a>
                </span>
                <div class="modalButtonContainer">
                    <%= submit_tag 'SIGN UP', class:"modalBottomFullButton sphereBlueBackground hoverable" %> 
                </div>
            <% end %>
        </div>
    </div>
</div>