<!DOCTYPE html>
<html>
<head>
  <title>Sphere</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body>
  <div class="remodal-bg">
<!--     <div id="loading">
        <div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div> -->

    <%= yield %>
  </div>

</body>
</html>
