<!DOCTYPE html>
<html>
<head>
  <script src="https://use.typekit.net/gya5rtr.js"></script>
  <%= typekit 'gya5rtr' %>
  <title>Sphere</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="remodal-bg">
<!--     <div id="loading">
        <div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div> -->

    <%= yield %>
  </div>

</body>
<a href="http://www.beyondsecurity.com/vulnerability-scanner-verification/app.usesphere.com"><img src="https://seal.beyondsecurity.com/verification-images/app.usesphere.com/vulnerability-scanner-2.gif" alt="Website Security Test" border="0" /></a>
</html>
